[Unit]
Description=soju IRC bouncer for production Gamja

[Container]
Image=ghcr.io/ploos-as/soju:latest@sha256:ae1eb58d75beea7bfbeff3f004700289f2fcd4c56da671d88216f2cfb2d1d491
ContainerName=soju
Network=irc.network
Exec=-config /etc/soju/config
Volume=/etc/gamja/soju.conf:/etc/soju/config:ro,Z
Volume=soju-data.volume:/var/lib/soju
AddCapability=NET_BIND_SERVICE
HealthCmd=sojudb -config /etc/soju/config help
HealthInterval=30s
HealthTimeout=5s
HealthRetries=3
HealthStartPeriod=10s
NoNewPrivileges=true

[Service]
Restart=on-failure

[Install]
WantedBy=multi-user.target
